body{
    background-color:rgba(0, 171, 171,0.5)
 }
 /* design for navbar font */
.navbar{
    background-color:#00ABAB;
    font-size: 15px;    
 }
 .navbar a{
    color: black;
 
 }
 .navbar a:hover{
    background-color:rgba(0, 0, 0);
    color: white;
    border-radius: 50px;
    font-size: 20px;
 }
 /* End design for navbar font */

 /* design for top */
 .bg-img{
   background-image: url("../images/bg-one.png");
   background-repeat: no-repeat;
   background-size: 100% 500%; 
   height: 100vh; 
}

.title{
   color: white;
   text-shadow: 0px 10px 0px black;
   font-weight: bolder;
}
.box-darker{
   background-color: #124747;
   color: white;
}
.card {
   font-size: 15px;
}

.card img{
   height: 30vh;
   width: auto;
}