body{
    background-color: white;
}
/* size for images in logo */
.logo img{
    width: 30px;
}
/* design for navbar font */
.navbar{
    background-color: #00ABAB;
    font-size: 15px;    
}
.navbar a{
    color: black;

}
.navbar a:hover{
    background-color:rgba(0, 0, 0);
    color: white;
    border-radius: 50px;
    font-size: 20px;
}
/* End design for navbar font */

/* design for image background for responsiveness mobile first */
.bg-img{
    background-image: url("../images/three.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}
/* design for container of the image and the text mobile first*/
.middle h2{
    color: white;
    text-shadow: 5px 5px 5px black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    font-size: 30px;
}

.middle p{
    padding-right: 50px;
    color: white;
}
.middle a{
    background-color: rgb(221, 213, 213,0.5);
    box-shadow: 0px 0px 10px white;
    font-size: 15px;
    color: black;
    font-weight: bolder;
}

.btn-view a {
  background-color: rgb(221, 213, 213,0.5);
  box-shadow: 0px 0px 10px rgb(19, 18, 18);
  font-size: 15px;
  color: black;
  font-weight: bolder;
}
/* design for container to make it center text mobile first */
.txt-mid{
    margin-top: 500px;
}
/* margin of the carousel */

/* Design for dots in carousel */
.carousel-indicators button {
    height: 10px !important;
    width: 10px !important;
    margin: 0 10px !important;
    border-radius: 100%;
    background-color: #1963ac !important;
}
/* Design for subscribe section bg */
.sub-box{
 background-color: #00ABAB;
}
.tag-box{
    background-color:#124747;
    color: white
   
}

.d-flex-content p{
    width: 100px;
    margin-right: 25px;
}
.d-flex-content a{
    margin-left: 50px;
    margin-right: 0;
}  
.card-box h2{
    font-size: 20px;
}
.card-box p{
    font-size: 15px;
}

.card-body{
    height: 100px;
}
/* Sizing for side images next */
.side-img{
    width: 100%;
    height: 70vh;
    background-size: 100% 100%;
  
}
/* sizing of text in left area */
.left-text h2{
    font-size: 30spx;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
  /* positioing of the tag */
  .little-tag{
    padding: 50px 30px 0px 30px;
   
}
  /* Resizing the tag paragraph */
  .little-tag p{
    font-size: 15px;
   
}
/* layer-3 spacing */
.layer-3{
    padding: 15px 20px 50px 20px;  
   
}

/*  spacing ing card og laye-3*/
.todo-card{
    width:65vw;
    margin: 25px 55px 25px 55px;
}



@media screen and (min-width:1020px) {

    /* design for container to make it center text desktop size */
    .txt-mid{
        margin-top: 130px;
        width: 50rem;
    }
    /* Adjusting the container of the qoutes */
    .middle{
        padding: 90px;
    }
    /* Sizing of the qoutes in top area */
    .middle h2{
        font-size: 50px;
    }
    .middle p{
        padding-left: 15px;
        padding-right: 20rem;
        color: white;
    }
    /* design for image background for desktop size */
    .bg-img{
        background-size: 100% 100%;
    }

}