body{
   background-color: white;
}
/* design for navbar font */
.navbar{
   background-color:#00ABAB;
   font-size: 15px;    
}
.navbar a{
   color: black;

}
.navbar a:hover{
   background-color:rgba(0, 0, 0);
   color: white;
   border-radius: 50px;
   font-size: 20px;
}
/* End design for navbar font */

.gallery-box{
   background-color: #124747;;
}
.bg-color{
   background-color:rgba(223, 249, 255, 0.5);
   box-shadow: 5px 5px 5px gray;
   color: rgb(0, 0, 0);
}

.bg-img{
   background-image: url("../ormin-images/one.png");
   background-repeat: no-repeat;
   background-size: 100% 100%;  
}
.btn-color{
   background-color: #124747;
   color: white;
}
.btn-color:hover{
   background-color: white;
   color:#124747;
   font-weight: bolder;
}