body{
   background-color:white;
}
/* design for navbar font */
.navbar{
   background-color:#00ABAB;
   font-size: 15px;    
}
.navbar a{
   color: black;
}
.navbar a:hover{
   background-color:rgba(0, 0, 0);
   color: white;
   border-radius: 50px;
   font-size: 20px;
}
/* End design for navbar font */

.box-light{
   background-color: #00ABAB;
   color: black;
}
.box-darker{
   background-color: #124747;
   color: white;
}
.img-shadow img {
   box-shadow: 10px 10px 10px black ;

}

.bg-color{
   background-color:rgba(40, 164, 180, 0.5);
   box-shadow: 5px 5px 5px gray;
   color: rgb(0, 0, 0);

}
.bg-img{
   background-image: url("../images/bg-one.png");
   background-repeat: no-repeat;
   background-size: 100% 500%; 
   height: 100vh; 
}

.title{
   color: white;
   text-shadow: 0px 10px 0px black;
   font-weight: bolder;
}

.btn-color{
   background-color: #124747;
   color: white;
}
.btn-color:hover{
   background-color: white;
   color:#124747;
   font-weight: bolder;
}
.href-color a{
   border: 2px solid rgb(255, 255, 255);
   color: white;
}
.href-color a:hover{
   border: 2px solid black;
   background-color: white;
   color: black;
}
a{
   color: white;
}

.card-img{
   width: 50%;
}
.img-row{
   width: 100%;
}
.card-img-side{
   width: 100%;
}

@media screen and  (max-width: 599px)  and (min-width: 400px){
   .card-img{
      width: 100%;
   }
   .img-row{
      width: 100%;
      margin-top: 50px;
   }
   .card-img-side{
      width: 100%;
   }
}
@media screen and (max-width: 1000px) and (min-width: 600px){ 
   .card{
      width: 100%;
   }
   .card-img{
      width: 100%;
   }
   .img-row{
      width: 100%;
      margin-top: 100px;
   }
   .card-img-side{
      width: 100%;
   }
}